{{ partial "header.html" .}}
{{ partial "nav.html" .}}
<style media="screen">
  .a {
    color: white;
  }
</style>
<div class="container">
  <div class="a">
    <h1 class="osw" color="white">404</h1>
    <h3 class="osw">Siden du lette etter eksisterer ikke, eller har aldri eksistert.</h3>
    <p>Hva vil det si å eksistere? Eksisterer jeg? er noe av det rundt meg virkelig?
    Så hvis jeg ikke eksisterer, eksisterer da nettstedet jeg prøvde å besøke?</p>
    <img src="https://i.ytimg.com/vi/l04HlEP-N60/maxresdefault.jpg" alt="">
    <p>Ha en fortsatt fin dag. Vennlig hilsen fra utvikler</p>
    <style media="screen">
      img {width: 100%;}
    </style>
  </div>
</div>
{{ partial "footer.html" .}}
