<!DOCTYPE html>
<html>
    {{ partial "header.html" .}}

    <body>
        {{ partial "nav.html" .}}



        <div onclick="previousPart()" class="select-arrow prev-arrow">
            <i class="fas fa-angle-up"></i>
        </div>
        
        <img id="featured-image" src="{{ index .Params "featured" }}">

        <div class="ommeg about-content"
             data-aos-offset="200"
             data-aos-easing="ease-in-out"
             data-aos="fade-right">
            <div id="firstrow" class="row">
                <div class="col-md-6 col-sm-6 col-lg-3">
                    <img src="{{ .Site.Params.selvportrett}}" class="img-circle" id="meg" width="300px">
                </div>
                <div class="col-md-6 col-sm-6 col-lg-6 grey-back">
                    <div class="lead" id="tidslinje">
                        {{range .Params.tidslinje}}
                        <span class="glyphicon glyphicon-minus"><b class="osw">{{index . 0}}</b> </span> {{index . 1}} </p>
                        {{end}}
                    </div>
                </div>
                <div class="col-md-3 col-3">
                    
                </div>
            </div>
        </div>

        <div class="container-fluid contentMain">
            {{.Content}}
        </div>



    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
     AOS.init();
    </script>

    <div data-aos="fade-up" class="about-content last">{{ partial "footer.html" .}}</div>
    <div class="select-arrow next-arrow">
        <i onclick="nextPart()" class="fas fa-angle-down"></i>
    </div>
    <script>
     var aboutMeParts = $('.about-content').toArray();
     aboutMeParts.unshift($('.navigasjon')[0]);
     var next = aboutMeParts[1];
     var prev = aboutMeParts[aboutMeParts.length - 1];
     var scrollSettings = {behavior: "smooth", block: "center", inline: "nearest"}


     function nextPart() {
         next.scrollIntoView(scrollSettings);
         let index = aboutMeParts.indexOf(next) + 1;
         if (index < aboutMeParts.length) {
             next = aboutMeParts[index];
         } else {
             prev = next;
             next = aboutMeParts[0];
         }
     }

     function previousPart() {
         console.log(prev);
         prev.scrollIntoView(scrollSettings);
         let index = aboutMeParts.indexOf(prev) -1;
         if (index < 0) {
             prev = aboutMeParts[aboutMeParts.length-1];
         } else {
             next = prev;
             prev = aboutMeParts[index];
         }

     }

     window.addEventListener('scroll', function (event) {
         if (window.scrollY >= window.screen.availHeight) {
$(".prev-arrow").fadeIn('slow');
         } else {
$(".prev-arrow").fadeOut('slow');
         }
     });

    </script>
</body>
</html>
